:root {
    --color-tinta: black;
    --color-fondo: white;
    --color-fondo-suave: gray;
    --color-linea: lightgray;
    --color-enlace: rgb(40, 40, 162);
    --redondeado: 0.5rem;
    --hueco-grande: 0.5rem;
    --hueco-peque: 0.25rem;
}

* {
    box-sizing: border-box;
    
    margin-left: 0;
    margin-right: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

    background-color: var(--color-fondo);
    color: var(--color-tinta);

}

main {
    padding: var(--hueco-grande)
}

header {
    background-color: var(--color-tinta);
    color: var(--color-fondo);
    text-align: center;

    padding: var(--hueco-grande);
    
    & ul {
        list-style: none;
        padding-left: 0;
    }

    & a {
        display: inline-block;
        color: var(--color-fondo);
        padding: var(--hueco-peque);
        border-radius: var(--redondeado);
    }

    & a:hover {
        background-color: var(--color-fondo);
        color: var(--color-tinta);
        text-decoration: none;
    }
}


h1 {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: var(--color-enlace);
    font-weight: bold;;
}

a:hover {
    text-decoration: underline;
}

p {
    line-height: calc(1rem + var(--hueco-grande));
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid lightgray;
}

thead, tfoot {
    background-color: var(--color-fondo-suave);
    color: var(--color-fondo);
}

th, td {
    padding: var(--hueco-grande);
    border: 1px solid var(--color-linea);
}

thead tr:last-of-type th:first-of-type, tbody th, tfoot th:first-of-type {
    text-align: right;
}

thead tr:last-of-type th:not(first-of-type), tbody td, tfoot th:not(:first-of-type) {
    text-align: left;
}

.tiktok-embed, img, figure, audio, video, iframe {
    width: 100%;

    border-radius: var(--redondeado);
}
